<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Here's where you can get in touch with me:
  <ul>
    <li><%= link_to "Facebook", '#' %></li>
    <li><%= link_to "Twitter", '#' %></li>
    <li><%= link_to "Tumblr", '#' %></li>
  </ul>
</p>
