<div class="center jumbotron">
  <h1>
    Welcome to MTG Card Repo!
  </h1>
  <h2>
    We're under construction right now, but eventually there will be some cool stuff here.
  </h2>

  <%= link_to "Get started", "#", class: "btn btn-lg btn-primary" %>
</div>
