<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <nav>
      <%= link_to "MTG Card Repo", '#', id: "logo", class: "navbar-header, navbar-brand" %>
      <ul class="nav navbar-nav navbar-right">
	<li><%= link_to "Home",   '#' %></li>
	<li><%= link_to "Help",   '#' %></li>
	<li><%= link_to "Log In", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
